<body>
  <div class="container-fluid">
    <div class="flex flex-column">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="">APPcobro</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/analisis">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/cuentas">ir a cuentas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/ConfCuentas">Pasar cuentas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/semanal">Semanales</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/vencidas">Cuentas vencidas </a>
              </li>
            </ul>

          </div>

        </div>
      </nav>

      <h2>Cuentas</h2>
      <div class="row">
        <div class="col-sm-8 search-container">
          <input class="search-input" type="text" placeholder="Buscar cuentas" [(ngModel)]="busqueda">
        </div>
        <div class="col-sm-4 dropdown">
          <!-- Button to Open the Modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
            agregar cuenta
          </button>
          <!-- Button to Open the Modal -->

          <!-- The Modal -->
          <div class="modal" id="myModal3">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Historial</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="table-responsive">
                    <div>
                      <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>N°</th>
                            <th>Fecha </th>
                            <th>pago</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let datos of tuplas;let i=index">
                            <td>{{i+1}}</td>
                            <td>{{datos[0]}}</td>
                            <td>{{ datos[1] }}</td>
                          </tr>

                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                </div>

              </div>
            </div>
          </div>

          <!-- The Modal -->
          <div class="modal" id="myModal">
            <div class="modal-dialog">
              <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">Agregar nueva cuenta</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  <div class="form-container">
                    <form class="form-control was-validated needs-validation" novalidate id="add-account-form"
                      #addCuentaForm="ngForm" (ngSubmit)="addCuenta(addCuentaForm)">
                      <div class="d-flex">
                        <label for="fecha">Fecha:</label>

                        <div class="d-flex flex-column">
                          <input class="form-control" type="date" id="fecha" name="fecha" ngModel required>
                          <div class="valid-feedback">ok.</div>
                          <div class="invalid-feedback">Ingrese fecha</div>
                        </div>
                      </div>
                      <div class="d-flex">
                        <label for="nombre">Nombre:</label>
                        <div class="d-flex flex-column justify-content-center">
                          <input class="form-control" type="text" id="nombre" name="nombre" ngModel required>
                          <div class="valid-feedback">ok.</div>
                          <div class="invalid-feedback">Ingrese Nombre</div>
                        </div>

                      </div>
                      <div class="d-flex">
                        <label for="valor">Valor:</label>
                        <div class="d-flex flex-column justify-content-center"> <input class="form-control" type="text"
                            id="valor" name="valor" ngModel required>
                          <div class="valid-feedback">ok.</div>
                          <div class="invalid-feedback">Ingrese Valor</div>
                        </div>


                      </div>
                      <div class="d-flex">
                        <label for="valor">pago de:</label>
                        <div class="d-flex flex-column justify-content-center">
                          <input class="form-control" type="text" id="valor" name="pago" ngModel required>
                          <div class="valid-feedback">ok.</div>
                          <div class="invalid-feedback">Ingrese pago</div>
                        </div>

                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkbox1">
                        <label class="form-check-label" for="checkbox1">semanal</label>
                      </div>
                      <button type="submit">Agregar</button>
                    </form>

                  </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

              </div>
            </div>
          </div>

        </div>

      </div>



      <div class="table-responsive">
        <div>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>N°</th>
                <th>Fecha </th>
                <th>Nombre</th>
                <th>Deuda</th>
                <th>Saldo</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cuenta of getCuentasFiltradas(); let i=index">
                <td (click)="cambiarPosicion(cuenta)">{{i}}</td>
                <td [ngClass]="{ 'danger': isCuentaVencida(cuenta) }">{{ cuenta.fecha }}</td>
                <td (click)="getCuentaRevisar(cuenta)" data-bs-toggle="modal" data-bs-target="#myModal3">
                  {{cuenta.nombre}}
                </td>
                <td>{{ cuenta.deuda }}</td>
                <td>{{ cuenta.saldo }}</td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>


    </div>
  </div>

</body>