<body>
    <div class="d-flex flex-column">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">APPcobro</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/analisis">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/cuentas">ir a cuentas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/ConfCuentas">Pasar cuentas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/semanal">Semanales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/vencidas">Cuentas vencidas </a>
                        </li>
                    </ul>

                  
                </div>

            </div>
        </nav>
        <div class="container-fluid">
            <div class="d-flex flex-column">
                <h2>Sacar cuentas</h2>
                <div class="search-container">
                    <input class="search-input" type="text" placeholder="Buscar cuentas" [(ngModel)]="busqueda">
                </div>
                <div class="d-flex table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td>N°</td>
                                <th>Fecha</th>
                                <th>Nombre</th>
                                <th>Deuda</th>
                                <th>Saldo</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cuenta of getCuentasFiltradas(); let i = index">
                                <td>{{i}}</td>
                                <td [ngClass]="{ 'danger': isCuentaVencida(cuenta) }">{{ cuenta.fecha }}</td>
                                <td>{{ cuenta.nombre }}</td>
                                <td>{{ cuenta.deuda }}</td>
                                <td>
                                    {{ cuenta.saldo }}
                                </td>
                                <td><input type="number" [(ngModel)]="cuenta.pago">
                                    <div class="flex justifiy-content-center">
                                        <button *ngIf="cuenta.saldo==0" (click)="renovarCuenta(cuenta)"
                                        class="btn btn-info">Renovar</button>
                                    <button *ngIf="cuenta.saldo==0" (click)="eliminarCuenta(cuenta)"
                                        class="btn btn-danger">Eliminar</button>
                                    <button *ngIf="cuenta.saldo >= cuenta.pago" (click)="enviarPago(cuenta)"
                                        class="btn btn-success">Reducir</button>
                                    </div>
                                    

                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>

</body>