body {
   
  background-size: cover;
  background-position: center;
}
.search-input {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
.table-responsive {
  margin: 0 auto;
  max-width: 1000px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
}


h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  margin-top: 40px;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}

label {
  width: 100px;
}

.danger {
  color: red;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.658);
}
@media only screen and (max-width: 600px) {
  /* Estilos para pantallas con ancho máximo de 600px */
  .search-container {
    flex-direction: column;
    align-items: center;
  }
  .search-input {
    max-width: none;
  }
  .table-responsive {
    padding: 10px;
    max-width: 100%;
    box-shadow: none;
  }
  table {
    font-size: 14px;
  }
  td, th {
    padding: 5px;
  }
  .btn-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
}

