<body>
    <div class="container-fluid">
        <div class="flex flex-column">
            
          <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">APPcobro</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/analisis">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/cuentas">ir a cuentas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/ConfCuentas">Pasar cuentas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/semanal">Semanales</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/vencidas">Cuentas vencidas </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
                <h2>Cuentas Vencidas</h2>
                
                  
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                          <tr>
                            <th>Fecha </th>
                            <th>Nombre</th>
                            <th>Deuda</th>
                            <th>Saldo</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let cuenta of cuentas">
                            <td>{{ cuenta.fecha }}</td>
                            <td>{{ cuenta.nombre }}</td>
                            <td>{{ cuenta.deuda }}</td>
                            <td>{{ cuenta.saldo }}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            
            
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous"></script>
    
  </body>